$color-green: #4b9200;
$color-orang: #f9804b;
$color-yellow: #ffee2e;
$color-rad: #d31414;
$color-black-blue: #333b41;
$color-gray: #767474;
$color-gray-smoky: #ababab;
$color-gray-light: #f1f3f2;
$color-frosted-white: #fdfdff;

$color-orang-grad: #fed290;
$color-pink-grad: #febdab;

//Width
$content-width: 1600px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
