.animal {
	box-sizing: border-box;
	display: block;
	width: 366px;
	height: 426px;
	border: 1px solid transparent; //Обводка нужной толщины, но прозрачная
	background: linear-gradient(#fa6f32 100%, #fe9013 100%); //Нужный градиент в качестве фона
	box-shadow: inset 0px 0px 0px 100vw $color-white; //Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку

	border-radius: 5px;
	position: relative;
	overflow: hidden;

	.animals__image,
	.animal__name {
		position: relative;
		display: block;
		transition: all 1s ease;
	}

	&:hover .animals__image {
		transform: scale(1.1);
		z-index: 0;
	}

	&:hover .animal__name {
		transform: translateY(-100%);
		z-index: 2;
		color: $color-white;
	}

	.box-shadow {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0.65;
		display: none;
		z-index: 1;
	}

	&:hover .box-shadow {
		display: block;
	}

	@include media-small-laptop {
		flex-basis: 294px;
		width: 294px;
		height: 354px;
	}
}

.animal__name {
	max-width: 294px;
}

.animals-card {
	height: 1106px;
	background: url("../../assets/images/Third-section/palm_foto.png") bottom left,
		url("../../assets/images/Third-section/strelitzia 1.png") bottom right;
	background-repeat: no-repeat;
	@include media-small-laptop {
		height: 1075px;
		background: url("../../assets/images/Third-section/palm_foto_laptop.png") bottom left,
			url("../../assets/images/Third-section/strelitzia 1_laptop.png") bottom right;
		background-repeat: no-repeat;
	}
}

.animals-card__wrapper {
	width: 1158px;
	height: 872px;
}

.animals-card-wrapper {
	position: relative;
	height: 872px;
	@include media-small-laptop {
		height: 800px;
	}
}

.animal__content {
	padding: 8px 12px 13px 16px;
}

.animal__title {
	@include font($size: 1.6rem, $height: 1.4, $weight: 500);
}

.eat__image {
	position: absolute;
	bottom: 13px;
	right: 12px;
}

.animals-card-button {
	width: 29.8rem;
	margin: 80px auto 100px auto;
	@include media-small-laptop {
		margin: 9px auto 0 auto;
	}
}

.animals-card__button {
	background: #fe9013;
	border-radius: 2.5rem;
	border-width: 0;
}

// .animals-card__wrapper {
// 	display: flex;
// }

.animals-card__navigation-wrapper {
	position: relative;
}

.animal__text {
	margin-bottom: 2px;
}
