.feed {
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	opacity: 0.9;
	height: 100.4rem;
	padding-top: 69px;
	padding-bottom: 100px;
	&__wrapper {
		box-sizing: border-box;
		background: rgba(253, 253, 255, 0.52);
		backdrop-filter: blur(2px);
		border-radius: 20px;
		padding: 41px 0 59px 0;
		height: 876px;
		@include media-small-laptop {
			padding: 30px 48px 50px 49px;
			height: 796px;
		}

		@include media-tablet {
			max-width: 100%;
			padding: 10px 20px 60px;
			height: 741px;
		}

		@include media-mobile {
			max-width: 300px;
			padding: 20px 0px 40px;
			height: 1042px;
		}
	}

	@include media-small-laptop {
		padding-top: 30px;
		padding-bottom: 50px;
		height: 876px;
	}

	@include media-tablet {
		padding: 20px 0;
		height: 1082px;
	}
}

.feeds-container {
	@extend %transition;
	justify-content: center;

	@include media-tablet {
		justify-content: space-between;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			width: 91px;
			height: 29px;
			background: url("../../assets/images/fourth-section/arrow_tablet.png");
			transform: rotate(-0.62deg);
			background-repeat: no-repeat;
			left: 138px;
			top: -17px;
		}

		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			width: 91px;
			height: 29px;
			background: url("../../assets/images/fourth-section/arrow_tablet.png");
			transform: rotate(0.38deg);
			background-repeat: no-repeat;
			right: 164px;
			top: -17px;
		}
	}

	@include media-mobile {
		flex-grow: 1;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		&:before {
			content: "";
			transform: rotate(85.38deg);
			background-repeat: no-repeat;
			left: 204px;
			top: 192px;
		}

		&:after {
			content: "";
			transform: rotate(85.38deg);
			background-repeat: no-repeat;
			left: 204px;
			top: 441px;
		}
	}
}

.feed__title {
	margin-top: 0;
	text-align: center;
	color: #fe9013;
	height: 58px;

	@include media-tablet {
		@include font($size: 4.2rem, $height: 1.2, $weight: 400);
		height: 50px;
	}

	@include media-mobile {
		@include font($size: 2.4rem, $height: 1.2, $weight: 400);
		height: 29px;
	}
}

.feed__subtitle {
	display: block;
	@include font($size: 2.4rem, $height: 1.2, $weight: 400);
	margin: 30px 0px 40px 99px;
	color: #333b41;
	height: 29px;

	@include media-small-laptop {
		margin: 20px 0 20px;
	}

	@include media-tablet {
		@include font($size: 2.2rem, $height: 1.2);
		text-align: left;
		height: 53px;
	}

	@include media-mobile {
		@include font($size: 1.8rem, $height: 1.2);
		text-align: center;
		height: 66px;
		margin: 10px 0 20px;
		padding-right: 4px;
	}
}

.feed__text_body {
	@include font($size: 1.6rem, $height: 1.3, $weight: 500);
	color: #333b41;
	margin-left: 99px;
	height: 21px;

	@include media-small-laptop {
		margin-left: 0;
		max-width: 813px;
	}

	@include media-tablet {
		text-align: left;
		@include font($size: 1.6rem, $height: 1.3, $weight: 500);
		height: 42px;
	}

	@include media-mobile {
		display: none;
	}
}

.feed__text_paragraph {
	@include font($size: 1.6rem, $height: 1.3, $weight: 400);
	color: #333b41;
	margin: 10px 0 60px 99px;
	max-width: 863px;
	height: 42px;

	@include media-small-laptop {
		margin: 32px 0 40px 0;
		margin-left: 0;
		max-width: 823px;
	}

	@include media-tablet {
		text-align: left;
		margin: 10px 0 30px 0;
	}

	@include media-mobile {
		display: none;
	}
}

.feed__name {
	text-align: center;
	margin-bottom: 40px;

	@include media-tablet {
		margin-bottom: 20px;
	}

	@include media-mobile {
		@include font($size: 2.4rem, $height: 1.2, $weight: 400);
	}
}

.feed__button {
	width: 298px;
	margin: 60px auto;

	@include media-small-laptop {
		margin: 69px auto 0 auto;
	}

	@include media-tablet {
		margin: 39px auto 0 auto;
	}

	@include media-mobile {
		margin: 21px auto 0 auto;
	}
}

.feed__text-decoration {
	color: inherit;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #fe9013;

	@include media-tablet {
		padding-bottom: 0;
	}
}

.feed__step {
	width: 16.8rem;
	height: 24.4rem;

	&:last-child {
		@include media-tablet {
			margin-right: 12px;
		}

		@include media-mobile {
			margin-right: 2px;
			margin-top: 4px;
		}
	}
}

.feed__arrow {
	width: 69px;
	height: 36px;
	margin: 62px 31px 0 30px;

	@include media-tablet {
		display: none;
	}
}

.feed__arrow2 {
	width: 69px;
	height: 36px;
	margin: 58px 31px 0 30px;

	@include media-tablet {
		display: none;
	}
}

.feed__step-text {
	@include font($size: 1.6rem, $height: 1.4, $weight: 400);
	margin-top: 30px;
	display: inline-block;
	width: 168px;
	height: 46px;

	@include media-mobile {
		margin-top: 10px;
	}
}
