.promo {
	margin: 0 0 106px 0;
	background-image: url("../../assets/images/second-section/flower_foto1.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 60.5rem;
}

.promo__wrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	height: 40.3rem;
	width: 116rem;
	padding: 255px 0 0;
}

.promo__content {
	height: 40.3rem;
	width: 46.5rem;
}

.promo__title {
	height: 116px;
	width: 465px;
	margin-bottom: 20px;
	padding: 0;
	color: #333b41;
}

.promo__text {
	color: #333b41;
	height: 42px;
	width: 465px;
	display: block;
	@include font(1.6rem, 1.3, 400);
	padding: 0;
	margin-bottom: 54px;
}

.promo__subtitle {
	color: #333b41;
	width: 217px;
	height: 29px;
	padding: 0;
	margin-bottom: 34px;
}

.promo__text-subtitle {
	color: #333b41;
	height: 105px;
	width: 465px;
	@include font(1.6rem, 1.4, 400);
	display: block;
	padding: 0;
}

.promo__image {
	height: 40.3rem;
}
