.intro-donate {
	background: url("../../assets/images/first-section/panda_donate.jpg") bottom no-repeat;
	background-size: 100% 390px;
	height: 46.6rem;
}

.intro-donate__wrapper {
	background-size: 100% 100%;
	height: 38.6rem;
	overflow: hidden;
}

.feed-donate {
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	height: 148.2rem;
	padding-top: 40px;
	padding-bottom: 180px;
	&__wrapper {
		background: rgba(255, 255, 255, 0.52);
		backdrop-filter: blur(2px);
		border-radius: 20px;
		padding: 40px 0 62px 0;
		height: 96.4rem;
	}
}

.feed-content__wrapper {
	height: 23.8rem;
	margin-bottom: 60px;
}
