.button {
	@include font($size: 1.6rem, $height: 1.4, $weight: 500);
	width: 29.8rem;
	height: 5.4rem;
	color: $color-white;
	padding: 16px 5px 16px 1px;
	text-align: center;
	text-transform: uppercase;
}

.button-first {
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 2.5rem;
	border-width: 0;
}

.button-nav {
	position: absolute;
	display: inline-block;
	height: 62px;
	width: 62px;
	background: url("../../assets/icons/arrow_elips_left.svg");
	top: 50%;
}

.button_length {
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 25px;
	border-width: 0;
}
