.logo {
	box-sizing: border-box;
	width: 8.2rem;
	height: 5.2rem;
	border: 1px solid $color-white;
	border-radius: 0.2rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1.logo-text {
	@include font($size: 1.9rem, $height: 1.2);
	width: 7.25rem;
	height: 4.5rem;
}
