.logo {
	box-sizing: border-box;
	width: 8.2rem;
	height: 5.2rem;
	border: 1px solid $color-white;
	border-radius: 0.2rem;
	text-align: center;
	display: flex;
	justify-content: center;
	&:hover {
		background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		.bamboo {
			fill: green;
		}
	}
}

.logo-text {
	@include font($size: 1.9rem, $height: 1.2);
	display: block;
	> a {
		width: 7.25rem;
		height: 4.5rem;
	}
}
