.logo {
	box-sizing: border-box;
	width: 82px;
	height: 52px;
	border: 1px solid $color-white;
	border-radius: 2px;
	text-align: center;
	display: flex;
	justify-content: center;

	&:hover {
		background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		.bamboo-header {
			filter: invert(27%) sepia(83%) saturate(1843%) hue-rotate(92deg) brightness(93%) contrast(106%);
		}
	}
}

.logo-text {
	@include font($size: 1.9rem, $height: 1.2);
	display: block;
	> a {
		width: 72.5px;
		height: 45px;
	}
}

.header__logo_mobile {
	position: relative;
	width: 47px;
	height: 29px;
	border: none;
	text-align: center;
	justify-content: center;
	display: none;

	.bamboo-header {
		bottom: 0.4rem;
		right: 3.45rem;
	}

	> h1 {
		@include font($size: 1.2rem, $height: 1.3);
		width: 47px;
		height: 29px;
		> a {
			text-decoration: none;
			color: $color-white;
		}
	}

	@include media-tablet {
		display: block;
	}
}
