.layout-4-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	@include media-tablet {
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
	}
}

.layout-3-column {
	@include columns($width: 366px);
	align-content: space-between;
	@include media-small-laptop {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.button-nav {
			display: inline-block;
			position: relative;
			flex-basis: 62px;
		}
	}

	@include media-tablet {
		.button-nav {
			display: inline-block;
			position: relative;
			flex-basis: 62px;
		}
	}

	@include media-mobile {
		justify-content: center;
		.button-nav {
			display: none;
		}
	}
}

.layout-2-column {
	@include columns($width: 800px);

	@include media-tablet {
		@include columns($width: 298px);
	}
}

.layout-3-column-nav {
	display: flex;
	justify-content: center;
	align-content: center;
}

.layout-5-column {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	> .feed__step {
		flex-basis: 168px;
	}
	> .feed__arrow {
		height: 170px;
	}

	@include media-tablet {
	}
}
